body {
    color: hsl(60, 50%, 95%);
    background-color: hsl(6,6%,6%);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 15px;
    font-weight: normal;
}

a {
    color: hsl(0, 100%, 80%);
    text-decoration: none;
}

a:hover {
    color: hsl(0, 100%, 70%);
}

img {
    image-rendering: optimizeSpeed;             /* stop smoothing, give me speed */
    image-rendering: -moz-crisp-edges;          /* firefox */
    image-rendering: -o-crisp-edges;            /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome (and eventually safari) */
    image-rendering: pixelated;                 /* universal support since 2021 */
    image-rendering: optimize-contrast;         /* CSS3 proposed */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}

.div-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
